@font-face {
  font-family: 'iconfont';  /* project id 1876735 */
  src: url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.eot');
  src: url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1876735_cx1x1y4vyu.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
