
.home-position{
  text-align: start;
  margin-left: 2vw;
}
.icon{
  color: #1677ff;
  display: inline-block;
  margin-top: 1vh;
  font-size: 15px;
}
.position-title{
  display: inline-block;
}
.search {
  width: 96vw;
  height: 4vh;
  margin-top: 1vh;
  border-radius: 10px;
  background-color: #f0f1f2;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.search .iconfont {
  margin-left: 3vw;
  color: #999999;
}

.search-content {
  font-size: 15px;
  color: #999999;
  padding-left: 3vw;
}
.tag-container{
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-container > div {
  margin-left: 9px;
  margin-bottom: 9px;
}